<h1>Welcome Coder Cafe</h1>
<%= image_tag "cafe-scene.jpg", class: "page-img"%>

<table class="table">
 <tr>
   <th>Item</th>
   <th>Price</th>
 </tr>
 <%@menu.each do |menu_item|%>
    <tr>
    <td><%=menu_item.name%></td>
    <td><%= "$%.2f" % menu_item.price%></td>
    </tr>
 <%end%>
</table>
