$header-font:'Courgette', cursive;
$main-font: 'Roboto', sans-serif;
$page-color: #F5F4ED;
$header-bg-color: #2980B9; 
$main-font-color: #4B4351; 
$table-bg-color: #BFC9CA; 
$table-alt-bg-color:#EAEDED;